{% extends 'master_page.html' %}

<!--            -------------------------       TITLE SECTION      -------------------------            -->
{% block pagetitle %}Ferret Fact{% endblock %}
<!--            -------------------------       TITLE SECTION      -------------------------            -->

<!--            -------------------------       STYLE SHEET SECTION      -------------------------            -->
{% block stylingsection %}{% endblock %}
<!--            -------------------------       STYLE SHEET SECTION      -------------------------            -->

<!--            -------------------------       BODY SECTION      -------------------------            -->
{% block bodycontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-dark" style="text-align: center;">
                    <b style="font-weight: 500px; font-size: 36px;">Fun Facts About Ferrets</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-inverse" style="padding: 10px;">
                    <h4>"Knowledge is Power"</h4>
                    <ul>
                        <li><h6>Ferrets Can catch Influenza from humans</h6></li>
                        <li><h6>Ferrets are obligated carnivores and cannot survive without meat in their diet</h6></li>
                        <li><h6>Ferrets have two vertebrae in their spine, one in their neck and the other in their tail </h6></li>
                        <li><h6>Ferrets have a four hour gut transit time</h6></li>
                        <li><h6>Ferrets are crepuscular, they are awake most during dusk and dawn and sleep during other hours</h6></li>
                        <li><h6>Ferrets are a part of the Mustelidae family (like Polecat) but are often mistaken for rodents</h6></li>
                        <li><h6>Ferrets are naturally inclined to defecate in corners</h6></li>
                        <li><h6>Ferrets are susceptible to hairballs. Strongly recommend Lax treats</h6></li>
                        <li><h6>Wysong digestive support 90 is the best dry ferret food in the market today</h6></li>
                        <li><h6>When ferrets get happy and excited they start to jump around. This is called a warrior dance</h6></li>
                        <li><h6>When ferrets move from one home to another, it decreases their lifespan due to the new environment stress</h6></li>
                        <li><h6>Ferrets are related to pole cats</h6></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
<!--            -------------------------       BODY SECTION      -------------------------            -->

<!--            -------------------------       JAVASCRIPT SECTION      -------------------------            -->
{% block javascriptsection %}
{% endblock %}
<!--            -------------------------       JAVASCRIPT SECTION      -------------------------            -->
